# Python
*.pyc
*.pyo
__pycache__/
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.hypothesis/
cover/

# Environments
.env
.venv/
venv/
ENV/
virtualenv/
.streamlit/
# IDE/Editor specific
.idea/
.vscode/

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# IPython
ipython_config.py
profile_default/

# PyBuilder
.pybuilder/
target/

# Celery
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Testing
test/fixtures
test/data

# Translations
*.mo
*.pot